@import url('https://fonts.googleapis.com/css?family=Lato');

$main-color: #F1634F;
$border-radius: 3px;

.container {
  font-family: 'Lato', sans-serif;
  color: $main-color;
  width: 130px;
  font-size: 15px;
  position: relative;

  .list {
    display: none;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px lighten($main-color, 25);
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 35px;
    background-color: #fff;
    border-radius: 0 0 $border-radius $border-radius;
    border: 1px solid $main-color;
    border-top: none;
  }

  &.show .list {
    display: block;
  }
}

.display {
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  border: 1px solid $main-color;
  padding: 9px 10px;
  box-shadow: 2px 2px 2px lighten($main-color, 25);
  border-radius: $border-radius;
}

.option {
  padding: 6px 10px;
  background-color: #fff;
  border-bottom: 1px solid lighten($main-color, 35);
  cursor: pointer;
  color: $main-color;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: lighten($main-color, 30);
  }

  &.selected {
    background-color: lighten($main-color, 30)
  }
}

.disabled {
  opacity: .8;
}
